.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    grid-gap :160px;
    animation: fadeIn 5s ease-in-out;

}

.sub-container{
  max-width: 300px;
}


.sub-container img {
  max-height: 500px;
  transition: 1.05s;
  animation: bounce 1s infinite alternate;
}
.contact img{
  max-height: 500px;
  transition: 1.05s;
  animation: bounce 1s infinite alternate;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

